/* import font: inter */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
   /* font-family */
   --ff-base: "Roboto", sans-serif;
   /* --ff-body: ; */
   /* --ff-heading: ; */

   /* font-size */
   /* fs-900: 42.7246px → 67.3396px */
   /* fs-800: 34.1797px → 50.5174px */
   /* fs-700: 27.3438px → 37.8975px */
   /* fs-600: 21.875px → 28.4302px */
   /* fs-500: 17.5px → 21.328px */
   /* fs-400: 14px → 16px */
   /* fs-300: 11.2px → 12.003px */
   /* fs-200: 8.96px → 9.0045px */

   --fs-900: clamp(2.6703rem, 2.1109rem + 2.7972vw, 4.2087rem);
   --fs-800: clamp(2.1362rem, 1.7649rem + 1.8566vw, 3.1573rem);
   --fs-700: clamp(1.709rem, 1.4691rem + 1.1993vw, 2.3686rem);
   --fs-600: clamp(1.3672rem, 1.2182rem + 0.7449vw, 1.7769rem);
   --fs-500: clamp(1.0938rem, 1.0068rem + 0.435vw, 1.333rem);
   --fs-400: clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
   --fs-300: clamp(0.7rem, 0.6817rem + 0.0913vw, 0.7502rem);
   --fs-200: clamp(0.56rem, 0.559rem + 0.0051vw, 0.5628rem);

   /* spacing */
   --size-25:   clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
   --size-50:   clamp(0.4375rem, 0.4148rem + 0.1136vw, 0.5rem);
   --size-75:   clamp(0.6875rem, 0.6648rem + 0.1136vw, 0.75rem);
   --size-100:  clamp(0.875rem, 0.8295rem + 0.2273vw, 1rem);
   --size-150:  clamp(1.3125rem, 1.2443rem + 0.3409vw, 1.5rem);
   --size-200:  clamp(1.75rem, 1.6591rem + 0.4545vw, 2rem);
   --size-250:  clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
   --size-300:  clamp(2.625rem, 2.4886rem + 0.6818vw, 3rem);
   --size-400:  clamp(3.5rem, 3.3182rem + 0.9091vw, 4rem);
   --size-500:  clamp(4.25rem, 3.9891rem + 1.3043vw, 5rem);
   --size-600:  clamp(5.25rem, 4.9773rem + 1.3636vw, 6rem);
   --size-700:  clamp(6.25rem, 5.9891rem + 1.3043vw, 7rem);
   --size-800:  clamp(7.25rem, 6.9891rem + 1.3043vw, 8rem);
   --size-900:  clamp(8.25rem, 7.9891rem + 1.3043vw, 9rem);
   --size-1000: clamp(9.25rem, 8.9891rem + 1.3043vw, 10rem);

   /* color */
   --clr-primry: #0d6efd;
   --clr-secondary: #6c757d;
   --clr-success: #198754;
   --clr-danger: #dc3545;
   --clr-warning: #ffc107;
   --clr-info: #0dcaf0;
   --clr-light: #f8f9fa;
   --clr-dark: #212529;
   --clr-bg-base: #fbf9f5f6;
   --clr-bg-900: oklch(from var(--clr-bg-base) calc(l * .99) c h);
   --clr-bg-800: oklch(from var(--clr-bg-base) calc(l * .95) c h);
   --clr-bg-700: oklch(from var(--clr-bg-base) calc(l * .90) c h);
   --clr-bg-600: oklch(from var(--clr-bg-base) calc(l * .85) c h);
   --clr-bg-500: oklch(from var(--clr-bg-base) calc(l * .60) c h);
   --clr-bg-400: oklch(from var(--clr-bg-base) calc(l * .40) c h);
   --clr-bg-300: oklch(from var(--clr-bg-base) calc(l * .30) c h);
   --clr-bg-200: oklch(from var(--clr-bg-base) calc(l * .20) c h);
   --clr-bg-100: oklch(from var(--clr-bg-base) calc(l * .10) c h);


   --clr-text-base: #202020;
   --clr-text-heading-1: oklch(from var(--clr-text-base) l c h / .95);
   --clr-text-heading-2: oklch(from var(--clr-text-base) l c h / .90);
   --clr-text-heading-3: oklch(from var(--clr-text-base) l c h / .85);
   --clr-text-heading-4: oklch(from var(--clr-text-base) l c h / .80);
   --clr-text-heading-5: oklch(from var(--clr-text-base) l c h / .75);
   --clr-text-heading-6: oklch(from var(--clr-text-base) l c h / .72);
   --clr-text-body: oklch(from var(--clr-text-base) l c h / .70);

   /* conatiner-size: */
   --content-size: 70rem; /* 1120px */
   --container-size: min(100% - var(--size-150) * 2, var(--content-size));
}