.my-25   { margin-block: var(--size-25); }
.my-50   { margin-block: var(--size-50); }
.my-75   { margin-block: var(--size-75); }
.my-100  { margin-block: var(--size-100); }
.my-150  { margin-block: var(--size-150); }
.my-200  { margin-block: var(--size-200); }
.my-250  { margin-block: var(--size-250); }
.my-300  { margin-block: var(--size-300); }
.my-400  { margin-block: var(--size-400); }
.my-500  { margin-block: var(--size-500); }
.my-600  { margin-block: var(--size-600); }
.my-700  { margin-block: var(--size-700); }
.my-800  { margin-block: var(--size-800); }
.my-900  { margin-block: var(--size-900); }
.my-1000 { margin-block: var(--size-1000); }

.mys-25   { margin-block-start: var(--size-25); }
.mys-50   { margin-block-start: var(--size-50); }
.mys-75   { margin-block-start: var(--size-75); }
.mys-100  { margin-block-start: var(--size-100); }
.mys-150  { margin-block-start: var(--size-150); }
.mys-200  { margin-block-start: var(--size-200); }
.mys-250  { margin-block-start: var(--size-250); }
.mys-300  { margin-block-start: var(--size-300); }
.mys-400  { margin-block-start: var(--size-400); }
.mys-500  { margin-block-start: var(--size-500); }
.mys-600  { margin-block-start: var(--size-600); }
.mys-700  { margin-block-start: var(--size-700); }
.mys-800  { margin-block-start: var(--size-800); }
.mys-900  { margin-block-start: var(--size-900); }
.mys-1000 { margin-block-start: var(--size-1000); }

.mye-25   { margin-block-end: var(--size-25); }
.mye-50   { margin-block-end: var(--size-50); }
.mye-75   { margin-block-end: var(--size-75); }
.mye-100  { margin-block-end: var(--size-100); }
.mye-150  { margin-block-end: var(--size-150); }
.mye-200  { margin-block-end: var(--size-200); }
.mye-250  { margin-block-end: var(--size-250); }
.mye-300  { margin-block-end: var(--size-300); }
.mye-400  { margin-block-end: var(--size-400); }
.mye-500  { margin-block-end: var(--size-500); }
.mye-600  { margin-block-end: var(--size-600); }
.mye-700  { margin-block-end: var(--size-700); }
.mye-800  { margin-block-end: var(--size-800); }
.mye-900  { margin-block-end: var(--size-900); }
.mye-1000 { margin-block-end: var(--size-1000); }

.mx-25   { margin-inline: var(--size-25); }
.mx-50   { margin-inline: var(--size-50); }
.mx-75   { margin-inline: var(--size-75); }
.mx-100  { margin-inline: var(--size-100); }
.mx-150  { margin-inline: var(--size-150); }
.mx-200  { margin-inline: var(--size-200); }
.mx-250  { margin-inline: var(--size-250); }
.mx-300  { margin-inline: var(--size-300); }
.mx-400  { margin-inline: var(--size-400); }
.mx-500  { margin-inline: var(--size-500); }
.mx-600  { margin-inline: var(--size-600); }
.mx-700  { margin-inline: var(--size-700); }
.mx-800  { margin-inline: var(--size-800); }
.mx-900  { margin-inline: var(--size-900); }
.mx-1000 { margin-inline: var(--size-1000); }

.mxs-25   { margin-inline-start: var(--size-25); }
.mxs-50   { margin-inline-start: var(--size-50); }
.mxs-75   { margin-inline-start: var(--size-75); }
.mxs-100  { margin-inline-start: var(--size-100); }
.mxs-150  { margin-inline-start: var(--size-150); }
.mxs-200  { margin-inline-start: var(--size-200); }
.mxs-250  { margin-inline-start: var(--size-250); }
.mxs-300  { margin-inline-start: var(--size-300); }
.mxs-400  { margin-inline-start: var(--size-400); }
.mxs-500  { margin-inline-start: var(--size-500); }
.mxs-600  { margin-inline-start: var(--size-600); }
.mxs-700  { margin-inline-start: var(--size-700); }
.mxs-800  { margin-inline-start: var(--size-800); }
.mxs-900  { margin-inline-start: var(--size-900); }
.mxs-1000 { margin-inline-start: var(--size-1000); }

.mxe-25   { margin-inline-end: var(--size-25); }
.mxe-50   { margin-inline-end: var(--size-50); }
.mxe-75   { margin-inline-end: var(--size-75); }
.mxe-100  { margin-inline-end: var(--size-100); }
.mxe-150  { margin-inline-end: var(--size-150); }
.mxe-200  { margin-inline-end: var(--size-200); }
.mxe-250  { margin-inline-end: var(--size-250); }
.mxe-300  { margin-inline-end: var(--size-300); }
.mxe-400  { margin-inline-end: var(--size-400); }
.mxe-500  { margin-inline-end: var(--size-500); }
.mxe-600  { margin-inline-end: var(--size-600); }
.mxe-700  { margin-inline-end: var(--size-700); }
.mxe-800  { margin-inline-end: var(--size-800); }
.mxe-900  { margin-inline-end: var(--size-900); }
.mxe-1000 { margin-inline-end: var(--size-1000); }