.py-25   { padding-block: var(--size-25); }
.py-50   { padding-block: var(--size-50); }
.py-75   { padding-block: var(--size-75); }
.py-100  { padding-block: var(--size-100); }
.py-150  { padding-block: var(--size-150); }
.py-200  { padding-block: var(--size-200); }
.py-250  { padding-block: var(--size-250); }
.py-300  { padding-block: var(--size-300); }
.py-400  { padding-block: var(--size-400); }
.py-500  { padding-block: var(--size-500); }
.py-600  { padding-block: var(--size-600); }
.py-700  { padding-block: var(--size-700); }
.py-800  { padding-block: var(--size-800); }
.py-900  { padding-block: var(--size-900); }
.py-1000 { padding-block: var(--size-1000); }

.pys-25   { padding-block-start: var(--size-25); }
.pys-50   { padding-block-start: var(--size-50); }
.pys-75   { padding-block-start: var(--size-75); }
.pys-100  { padding-block-start: var(--size-100); }
.pys-150  { padding-block-start: var(--size-150); }
.pys-200  { padding-block-start: var(--size-200); }
.pys-250  { padding-block-start: var(--size-250); }
.pys-300  { padding-block-start: var(--size-300); }
.pys-400  { padding-block-start: var(--size-400); }
.pys-500  { padding-block-start: var(--size-500); }
.pys-600  { padding-block-start: var(--size-600); }
.pys-700  { padding-block-start: var(--size-700); }
.pys-800  { padding-block-start: var(--size-800); }
.pys-900  { padding-block-start: var(--size-900); }
.pys-1000 { padding-block-start: var(--size-1000); }

.pye-25   { padding-block-end: var(--size-25); }
.pye-50   { padding-block-end: var(--size-50); }
.pye-75   { padding-block-end: var(--size-75); }
.pye-100  { padding-block-end: var(--size-100); }
.pye-150  { padding-block-end: var(--size-150); }
.pye-200  { padding-block-end: var(--size-200); }
.pye-250  { padding-block-end: var(--size-250); }
.pye-300  { padding-block-end: var(--size-300); }
.pye-400  { padding-block-end: var(--size-400); }
.pye-500  { padding-block-end: var(--size-500); }
.pye-600  { padding-block-end: var(--size-600); }
.pye-700  { padding-block-end: var(--size-700); }
.pye-800  { padding-block-end: var(--size-800); }
.pye-900  { padding-block-end: var(--size-900); }
.pye-1000 { padding-block-end: var(--size-1000); }

.px-25   { padding-inline: var(--size-25); }
.px-50   { padding-inline: var(--size-50); }
.px-75   { padding-inline: var(--size-75); }
.px-100  { padding-inline: var(--size-100); }
.px-150  { padding-inline: var(--size-150); }
.px-200  { padding-inline: var(--size-200); }
.px-250  { padding-inline: var(--size-250); }
.px-300  { padding-inline: var(--size-300); }
.px-400  { padding-inline: var(--size-400); }
.px-500  { padding-inline: var(--size-500); }
.px-600  { padding-inline: var(--size-600); }
.px-700  { padding-inline: var(--size-700); }
.px-800  { padding-inline: var(--size-800); }
.px-900  { padding-inline: var(--size-900); }
.px-1000 { padding-inline: var(--size-1000); }

.pxs-25   { padding-inline-start: var(--size-25); }
.pxs-50   { padding-inline-start: var(--size-50); }
.pxs-75   { padding-inline-start: var(--size-75); }
.pxs-100  { padding-inline-start: var(--size-100); }
.pxs-150  { padding-inline-start: var(--size-150); }
.pxs-200  { padding-inline-start: var(--size-200); }
.pxs-250  { padding-inline-start: var(--size-250); }
.pxs-300  { padding-inline-start: var(--size-300); }
.pxs-400  { padding-inline-start: var(--size-400); }
.pxs-500  { padding-inline-start: var(--size-500); }
.pxs-600  { padding-inline-start: var(--size-600); }
.pxs-700  { padding-inline-start: var(--size-700); }
.pxs-800  { padding-inline-start: var(--size-800); }
.pxs-900  { padding-inline-start: var(--size-900); }
.pxs-1000 { padding-inline-start: var(--size-1000); }

.pxe-25   { padding-inline-end: var(--size-25); }
.pxe-50   { padding-inline-end: var(--size-50); }
.pxe-75   { padding-inline-end: var(--size-75); }
.pxe-100  { padding-inline-end: var(--size-100); }
.pxe-150  { padding-inline-end: var(--size-150); }
.pxe-200  { padding-inline-end: var(--size-200); }
.pxe-250  { padding-inline-end: var(--size-250); }
.pxe-300  { padding-inline-end: var(--size-300); }
.pxe-400  { padding-inline-end: var(--size-400); }
.pxe-500  { padding-inline-end: var(--size-500); }
.pxe-600  { padding-inline-end: var(--size-600); }
.pxe-700  { padding-inline-end: var(--size-700); }
.pxe-800  { padding-inline-end: var(--size-800); }
.pxe-900  { padding-inline-end: var(--size-900); }
.pxe-1000 { padding-inline-end: var(--size-1000); }