.gap-25{
   gap: var(--space-25);
}

.gap-50{
   gap: var(--space-50);
}

.gap-75{
   gap: var(--space-75);
}

.gap-100{
   gap: var(--space-100);
}

.gap-150{
   gap: var(--space-150);
}

.gap-150{
   gap: var(--space-150);
}

.gap-200{
   gap: var(--space-200);
}

.gap-300{
   gap: var(--space-300);
}

.gap-400{
   gap: var(--space-400);
}

.gap-600{
   gap: var(--space-600);
}

